@charset "utf-8";
/* ONLINEPOWERS FED */

html, body {width:100%; }
#wrap {position:relative; width:100%; }

/*==================
	header
==================*/
#header {position:relative; max-width:920px; margin:0 auto; padding-top:50px; }
#header h1 {font-size:28px; font-weight:600; color:#4b4b4b; text-align:center; }
#header .gnb {overflow:hidden; width:100%; margin:20px 0; }
#header .gnb ul li {display:block; float:left; width:33.3%; padding:0 1px; margin-bottom:2px; }
#header .gnb ul li a {display:block; background:#dedede; font-size:12px; text-indent:1em; height:30px; line-height:30px; border-radius:4px; }
#header .gnb ul li a:after {display:none; }
#header .gnb ul li.on a {background:#e70618; color:#fff; }


/*==================
	container
==================*/
#container {position:relative; max-width:920px; margin:0 auto; padding:0 10px; }
#container .h1, .h2, .h3, h1, h2, h3 {margin-top:25px; margin-bottom:15px; }
#container .h2, h2 {font-size: 24px; color:#1a1a1a }
#container h2 span {font-size: 20px; }
#container .bs-docs-section {margin-bottom:60px; }
#container p {margin:0 0 10px; }
#container pre {display:block; padding:9.5px; margin:0 0 10px; font-size:13px; line-height:1.42857143; color:#333; word-break:break-all; word-wrap:break-word; background-color:#f5f5f5; border:1px solid #ccc; border-radius:4px; }
#container code {padding:2px 4px; font-size:90%; color:#c7254e; background-color:#f9f2f4; border-radius:4px; }
#container pre code {padding:0; font-size:inherit; color:inherit; white-space:pre-wrap; background-color:transparent; border-radius:0; }
#container .bs-example {position:relative; padding:45px 15px 15px; margin:0 0 0; background-color:#fff; border-color: #ddd; border-style:solid; border-width:1px 0; border-width:1px; border-radius:4px 4px 0 0; border-bottom:0; overflow:hidden; }
#container .bs-example:after {position:absolute; top:15px; left:15px; font-size:12px; font-weight:bold; color:#959595; text-transform:uppercase; letter-spacing:1px; content:"Example"; }
#container .bs-example-padded-bottom {padding-bottom:24px; }
#container .bs-example+.highlight, .bs-example+.zero-clipboard+.highlight {margin-top:-16px; margin-right:0; margin-left:0; border-width:1px; border-bottom-right-radius:4px; border-bottom-left-radius:4px; margin:0 0 15px; }
#container .highlight {padding:9px 14px; background-color:#f7f7f9; border:1px solid #e1e1e8; }
#container .highlight pre {padding:0; margin-top:0; margin-bottom:0; word-break:normal; white-space:nowrap; background-color:transparent; border:0; }
#container .highlight pre code:first-child {display:inline-block; padding-right:45px; }
#container .shipping_pl {float:left; }

#container .nt {color:#2f6f9f; }
#container .na {color:#4f9fcf; }
#container .s {color:#d44950; }


  
/*==================
	footer
==================*/
#footer {position:relative; width:100%; }
