@charset "utf-8";
/* ONLINEPOWERS FED */

/*==================
	이벤트
==================*/
/* 기획전 리스트 */
.search_result.sel {background: #fff; width: 100%; z-index: 20}
.search_result.sel select{margin: 9px 0;}
.event_wrap {background:#f0f0f0; }
.product_cate {padding:13px 15px; border-top:1px solid #b2b2b2; border-bottom:1px solid #f0f0f0; background:#f7f8fb;}
.product_cate span {color:#1a1a1a; font-size:15px; font-weight:bold;}
.pd_list {position:relative; margin-top:15px; border-bottom:1px solid #e4e4e4; min-height:191px;display: block;}
.pd_list:first-child {margin:0;}
.pd_tit {position:absolute; width:100%; left:0; bottom:0; padding:18px 0 20px; background: url(/content/mobile/images/common/bg_op.png); text-align: center;}
.pd_tit h2 {margin-bottom: 9px; color:#333; font-size: 16px;}
.pd_tit p {color: #808080; font-size:11px; }
/* 종료상태 추가 - lmo 21.03.31 */
.pd_tit:before {
    content: "";
    display: block;
    width: 50px;
    height: 23px;
    background-image: url(/content/mobile/images/common/ico_ing.png);
    background-repeat: no-repeat;
    background-size: 50px 23px;
    position: absolute;
    top: -11px;
    left: 20px;
}
.pd_list.end > img {opacity: 0.5;}
.pd_list.end .pd_tit:before {background-image: url(/content/mobile/images/common/ico_end.png);}
.product_list.typeA {padding:0 10px 30px; border:0;display:flex;flex-wrap:wrap;width:100%;justify-content:space-between;}
.product_list.typeA li {/*float:left;*/ width:48.5%; margin-top:15px; border:0;}
.product_list.typeA li:nth-child(2n) {/*float:right;*/}
.product_list.typeA li .product {padding:0; border:0;}
.product_list.typeA li .product .product_img {position:relative; width:auto; height:auto;border: solid 1px #e6e6e6;}
.product_list.typeA li.sold-out .product .product_img:before {content:"";position:absolute;right:5px;top:5px;width:50px;height:15px;background:url(/content/mobile/images/common/product_soldout_ico.png) no-repeat right center;background-size:auto 100%;z-index:1;}
.product_list.typeA li .product .product_info .tit {margin:10px 0 12px;}
.product_list.typeA li .product .product_rank {top:-5px;}
.product_list.line {border-top:1px solid #b2b2b2; border-bottom:1px solid #e4e4e4;}

/* 기획전 댓글 폼 */
.featured-reply { background: #fff; }
.featured-reply .op-event-title p {padding: 10px 5px;font-weight: 600;font-size: 14px;letter-spacing: 0.8px;color: #111;}
.featured-reply .featured-reply-form {padding: 7px 5px;overflow: hidden;border-top: 2px solid #111;
    border-bottom: 1px solid #111;background: #fff;text-align: center;}
.featured-reply .featured-reply-form .reply-input { width: 75%; height: 30px; padding: 0; vertical-align: bottom; }
.featured-reply .featured-reply-list {width: 100%;border-bottom: 1px solid #ccc;}
.featured-reply .featured-reply-list th {border-bottom: 1px solid #e1e1e1;color: #333;font-size: 12px;line-height: 40px;    background: #fcfcfc;text-align: center;}
.featured-reply .featured-reply-list tr:first-child td { border-top: 0; }
.featured-reply .featured-reply-list td {padding: 10px 0;color: #292929;font-size: 13px;text-align: center;}
.featured-reply .featured-reply-list .dot {text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;word-wrap: break-word;height: 15px;overflow: hidden;line-height: 14px;}
.featured-reply .no_content {padding: 20px;text-align: center;}
.featured-reply .pagination { text-align: center; font-size: 10px; padding: 15px; }
.featured-reply .pagination a,
.featured-reply .pagination strong,
.featured-reply .pagination a.next { padding: 0 0 0 15px; }
.featured-reply .pagination a.first,
.featured-reply .pagination a.last,
.featured-reply .pagination a.prev{ padding: 0 0 0 7px; }



/* 모바일 배너 클릭시 하이퍼링크 이동 hdh 21.08.26 */
.event_banner .m_intro_click {
    position: relative;
}
.event_banner .m_intro_click .cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 40.3%;
    padding-left: 24%;
    font-size: 0;
    background: url(/content/images/event/intro_02.jpg) no-repeat center center;
    background-size: 100%;
}
.event_banner .m_intro_click .cover a {
    display: inline-block;
    width: calc((100% - 12%)/4);
    height: calc((100% - 19%)/4);
    font-size: 0;
    margin-right: 1%;
    margin-bottom: 1%;
}
.event_banner .m_intro_click .cover a:nth-child(4n) {
    margin-right: 0;
}