<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="saleson.shop.snsuser.SnsUserMapper">
	<!--
	<resultMap type="saleson.shop.snsuser.domain.SnsUser" id="snsUserResult">
		<id property="snsUserId" column="SNS_USER_ID" />
		<result property="userId" column="USER_ID" />
		<result property="certifiedDate" column="CERTIFIED_DATE" />
		<collection property="snsDetails" resultMap="userSnsDetailResult" />
	</resultMap>
	<resultMap type="saleson.shop.snsuser.domain.SnsUserDetail" id="snsUserDetailResult">
	<result property="snsDetailId" column="SNS_DETAIL_ID" />
	<result property="snsUserId" column="SNS_USER_ID" />
	<result property="snsType" column="SNS_TYPE" />
	<result property="snsId" column="SNS_ID" />
	<result property="snsName" column="SNS_NAME" />
	<result property="email" column="EMAIL" />
	<result property="createdDate" column="CREATED_DATE" />
	<result property="loginId" column="LOGIN_ID" />
</resultMap>
	<resultMap type="saleson.shop.snsuser.domain.SnsUserDetail" id="userSnsDetailResult">
		<result property="snsUserId" column="SNS_USER_ID" />
		<result property="snsType" column="SNS_TYPE" />
		<result property="snsId" column="SNS_ID" />
		<result property="snsName" column="SNS_NAME" />
		<result property="email" column="EMAIL" />
		<result property="createdDate" column="CREATED_DATE" />
		<result property="loginId" column="LOGIN_ID" />
	</resultMap>

	<select id="getSnsUserDetail" parameterType="saleson.shop.snsuser.domain.SnsUserDetail" resultMap="snsUserDetailResult">
		SELECT SD.SNS_USER_ID
			, SD.SNS_TYPE
			, SD.SNS_ID
			, SD.SNS_NAME
			, SD.EMAIL
			, SD.CREATED_DATE
			, U.LOGIN_ID
		FROM OP_SNS_USER_DETAIL SD
			INNER JOIN OP_SNS_USER S ON S.SNS_USER_ID = SD.SNS_USER_ID
			LEFT JOIN OP_USER U ON U.USER_ID = S.USER_ID
		WHERE SNS_ID = #{snsId}
			AND SNS_TYPE = #{snsType}
	</select>

	<select id="getUserSnsInfo" parameterType="saleson.shop.snsuser.domain.SnsUserDetail" resultMap="snsUserDetailResult">
		SELECT
			US.SNS_USER_ID
			, US.SNS_TYPE
			, US.SNS_ID
			, US.SNS_NAME
			, US.EMAIL
			, US.CREATED_DATE
			, U.LOGIN_ID
		FROM OP_USER_SNS US
			LEFT JOIN OP_USER U ON US.USER_ID = U.USER_ID
		WHERE SNS_ID = #{snsId}
			AND SNS_TYPE = #{snsType}
	</select>


	<select id="getDuplicatedUserCount" parameterType="saleson.shop.snsuser.domain.SnsUserDetail" resultType="integer">
		SELECT COUNT(*) CNT FROM OP_USER U WHERE LOGIN_ID = #{email}
	</select>

	<insert id="insertSnsUser" parameterType="saleson.shop.snsuser.domain.SnsUser">
		INSERT INTO OP_SNS_USER (SNS_USER_ID, USER_ID<if test='certifiedDate == "Y"'>, CERTIFIED_DATE</if>)
		VALUES (#{snsUserId}, #{userId}<if test='certifiedDate == "Y"'>, DATE_FORMAT(NOW(),'%Y%m%d%H%i%s')</if>)
	</insert>

	<insert id="insertSnsUserDetail" parameterType="saleson.shop.snsuser.domain.SnsUserDetail">
		INSERT INTO OP_SNS_USER_DETAIL (SNS_DETAIL_ID, SNS_USER_ID, SNS_TYPE, SNS_ID, SNS_NAME, EMAIL, CREATED_DATE)
			VALUES (#{snsDetailId}, #{snsUserId}, #{snsType}, #{snsId}, #{snsName}, #{email}, DATE_FORMAT(NOW(),'%Y%m%d%H%i%s'))
	</insert>

	<insert id="insertUserSnsInfo" parameterType="saleson.shop.snsuser.domain.SnsUserDetail">
		INSERT INTO OP_USER_SNS (SNS_USER_ID, SNS_ID, USER_ID, SNS_TYPE, SNS_NAME, EMAIL, CREATED_DATE, CERTIFIED_DATE)
			VALUES (#{snsUserId}, #{snsId}, #{userId}, #{snsType}, #{snsName}, #{email}, DATE_FORMAT(NOW(),'%Y%m%d%H%i%s'), #{certifiedDate})
	</insert>

	<select id="getUserSns" parameterType="saleson.shop.snsuser.domain.SnsUser" resultMap="snsUserResult">
		SELECT
			SNS_USER_ID
			, USER_ID
			, CERTIFIED_DATE
			, SNS_TYPE
			, SNS_ID
			, SNS_NAME
			, EMAIL
			, CREATED_DATE
		 FROM OP_USER_SNS
		 WHERE USER_ID = #{userId}
	</select>

	<select id="getUserSnsList" parameterType="saleson.shop.snsuser.domain.SnsUser" resultMap="snsUserResult">
		SELECT
			SNS_USER_ID
			, USER_ID
			, CERTIFIED_DATE
			, SNS_TYPE
			, SNS_ID
			, SNS_NAME
			, EMAIL
			, CREATED_DATE
		 FROM OP_USER_SNS
		 WHERE USER_ID = #{userId}
	</select>

	<select id="getSnsUserInfo" parameterType="saleson.shop.snsuser.domain.SnsUser" resultMap="snsUserResult">
		SELECT
			S.SNS_USER_ID
			, S.USER_ID
			, S.CERTIFIED_DATE
			, SD.SNS_DETAIL_ID
			, SD.SNS_TYPE
			, SD.SNS_ID
			, SD.SNS_NAME
			, SD.EMAIL
			, SD.CREATED_DATE
		 FROM OP_SNS_USER S
		 	LEFT JOIN OP_SNS_USER_DETAIL SD ON S.SNS_USER_ID = SD.SNS_USER_ID
		 WHERE S.USER_ID = #{userId}
	</select>

	<delete id="disconnectSns" parameterType="saleson.shop.snsuser.domain.SnsUserDetail">
		DELETE FROM OP_SNS_USER_DETAIL WHERE SNS_DETAIL_ID = #{snsDetailId}
	</delete>

	<update id="updateUser" parameterType="com.onlinepowers.framework.security.userdetails.User">
		UPDATE OP_USER
			SET LOGIN_ID = #{loginId}
				<if test='password != "" and password != null'>
					, PASSWORD= #{password}
				</if>
				, USER_NAME= #{userName}
			WHERE USER_ID = #{userId}
	</update>

	<update id="updateSnsUser" parameterType="com.onlinepowers.framework.security.userdetails.User">
		UPDATE OP_SNS_USER
			SET CERTIFIED_DATE = DATE_FORMAT(NOW(),'%Y%m%d%H%i%s')
			WHERE USER_ID = #{userId}
	</update>

	<update id="updateUserSns" parameterType="com.onlinepowers.framework.security.userdetails.User">
		UPDATE OP_USER_SNS
			SET CERTIFIED_DATE = DATE_FORMAT(NOW(),'%Y%m%d%H%i%s')
			WHERE USER_ID = #{userId}
	</update>

	<delete id="secedeProcess" parameterType="com.onlinepowers.framework.security.userdetails.User">
		DELETE FROM OP_SNS_USER
			WHERE USER_ID = #{userId}
	</delete>

	<delete id="secedeSnsProcess" parameterType="com.onlinepowers.framework.security.userdetails.User">
		DELETE FROM OP_USER_SNS
			WHERE USER_ID = #{userId}
	</delete>-->
</mapper>
